<nav class="navbar navbar-light bg-info">

    <a href="#"><i class="fas fa-clinic-medical fa-3x"></i></a>
    <span class="navbar-brand mb-0 h1 ">Hospital</span>
</nav>
<br><br>
<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <div class="row">
                <div class="btn-group ">
                    <!-- A button that shows a log of all sick patients -->
                    <button id="logSick" class="btn btn-header"><i class="fas fa-clinic-medical fa-3x"></i>
                        <p>Waiting Room</p>
                    </button>
                    <!-- A button that shows a log of recovered patients -->
                    <button id="logRecovered" class="btn btn-header"><i class="fas fa-notes-medical fa-3x"></i>
                        <p>Cured Patients</p>
                    </button>
                    <!-- A button that shows a log of all dead patients -->
                    <button id="logDead" class="btn btn-header"><i class="fas fa-book-dead fa-3x"></i>
                        <p>Unfortunate Accidents</p>
                    </button>
                    <!-- A button that makes a post request to /api/patient route whci generates a new patient and adds them to database -->
                    <button class="btn btn-header" id="admit"><i class="fas fa-address-card fa-3x"></i>
                        <p>Admit Patient</p>
                    </button>
                    <!-- A button that shows a log of all dead patients -->
                    <button id="CleanRecords" class="btn btn-header"><i class="fas fa-phone-alt fa-3x"></i>
                        <p>Bookkeeper</p>
                    </button>
                </div>
            </div>

            <!-- Patients table -->
            <div class="row border">
                <div id="myBar">
                    <div id="myProgress"> </div>
                </div>
            </div>
            <br>
            <table id="patientsTable">
                <thead>
                    <tr>
                        <th class="font-weight-light" width="0">Image</th>
                        <th class="font-weight-light">First Name</th>
                        <th class="font-weight-light">Last Name</th>
                        <th class="font-weight-light">Gender</th>
                        <th class="font-weight-light">Age</th>
                        <th class="font-weight-light">Condition</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>

        <!-- col 2 -->
        <div class="col-lg-6">
            <!-- col 2 sub row -->
            <div class="row">
                <!-- col 2 sub row col 1 -->
                <div class="col-6 d-flex flex-column align-items-center text-center">
                    <div class="mt-2" id="trustme"> Trust me, I'm a doctor</div>
                    <img src="surgicalAvator.png" id="doctor" class="img-fluid mx-auto mt-2 d-block" alt="surgeon">

                </div>
                <!-- col 2 sub row col 2 -->
                {{!-- This empty div will display the patient on the operating table. --}}
                <div class="col-6 border">
                    <div id="operatingTable"></div>
                </div>
            </div>
            <!-- end of sub row -->

            <!-- within col 2 -->
            <!-- button to be centered -->
            <main>
                <div class="button">
                    <div class="noselect" id="operate">operate</div>
                </div>
                <div class="progress-bar"></div>
                <svg x="0px" y="0px" viewBox="0 0 25 30" style="enable-background:new 0 0 25 30;">
                    <path class="check" class="st0" d="M2,19.2C5.9,23.6,9.4,28,9.4,28L23,2" />
                </svg>
            </main>
            <br>
            <br>

            <!-- Log surgery results ... -->
            <ul id="activityLog"></ul>
        </div>

    </div>
</div>